$color-1: #0052CC;
.admin-chat-head{
  position: fixed;
  bottom: 10px;
  right: 10px;
  img{
    padding: 5px;
    background: red;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;
  }
}

.admin-support-panel{
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 320px;
  background: #fff;
  box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.panel-header, .panel-body, .panel-footer{
  padding: 10px;
}

.panel-header{
  background: $color-1;
  color: #fff;
  text-align: right;
  font-weight: bold;
}

.panel-body{
  input{
    width: 100%;
  }
}
.loading-text{
  color: #626262;
  font-style: italic;
}